@import 'reset.css';
.font-family-noto {
  font-family: 'Noto Sans', Helvetica, arial, sans-serif;
  font-weight: 400;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
body {
  font-family: 'Noto Sans', Helvetica, arial, sans-serif;
  font-weight: 400;
}
body a {
  outline: none;
  border: 0;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.hidden {
  display: none;
}
.mode-wrapper {
  float: left;
  width: 100%;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mode-wrapper {
    margin-top: 10px;
  }
}
.app__wrapper {
  width: 95%;
  padding: 5px 5px 0px 5px;
  margin: 10px auto 0 auto;
  max-width: 700px;
}
.app__wrapper header {
  overflow: auto;
  margin-bottom: 10px;
}
.app__title {
  font-size: 2.5em;
  color: #ddddee;
  margin-bottom: 20px;
  opacity: 0;
  display: none;
  -webkit-transition: font-size 1s;
  -moz-transition: font-size 1s;
  -o-transition: font-size 1s;
  transition: font-size 1s;
}
@media screen and (min-width: 768px) {
  .app__title {
    font-size: 4.0em;
    display: block;
  }
}
.app__title a {
  text-decoration: none;
}
.app__title a:link {
  color: inherit;
}
.app__title a:visited {
  color: inherit;
}
.app__description {
  line-height: 1.4em;
  color: #969c84;
  opacity: 0;
  display: none;
  border-bottom: 1px #ccc dotted;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .app__description {
    display: block;
  }
}
.app__utils {
  margin: 20px auto 20px auto;
}
.app__date {
  font-size: .8em;
  color: #777;
  float: right;
  text-align: right;
  line-height: 1.3em;
}
#app__simple,
#app__advanced {
  float: left;
  position: relative;
  bottom: 5px;
}
.app__button {
  padding: 12px 10px 8px 10px;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.app__button:hover,
.app__button.active {
  color: #999;
  background-color: #f5f5f5;
}
.app__section {
  margin: 80px 0 15px 0;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  opacity: 0;
  *zoom: 1;
}
.app__section:before,
.app__section:after {
  display: table;
  content: "";
  line-height: 0;
}
.app__section:after {
  clear: both;
}
.app__section.focused .app__section-title {
  color: #333;
}
.app__section-title {
  color: #777;
  margin-bottom: 15px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  line-height: 1.5em;
}
.app__table {
  width: 100%;
  margin-bottom: 13px;
}
.app__table .app__table-checkbox {
  width: 32px;
}
.app__table td {
  vertical-align: bottom;
}
.app__input {
  font-size: 1.4em;
  border: 0;
  outline: 0;
  opacity: 0;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  width: 100%;
  padding-left: 5px;
  margin: 0;
  border-bottom: 1px #ddd solid;
  color: #314159;
}
.app__input:focus {
  color: #0078bb;
  border-bottom-color: #888;
}
.app__input.checked {
  color: #bbb;
}
.app__checkbox {
  float: left;
  width: 25px;
  height: 25px;
  border: 2px #ccc solid;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.app__checkbox:hover {
  border-color: #aaa;
}
.app__checkbox.checked {
  border-color: #ccc;
  background-color: #eaeaea;
}
footer {
  margin: auto;
  padding: 10px 0 30px 7px;
  max-width: 700px;
}
footer a {
  margin-right: 10px;
}
.app__link {
  text-decoration: none;
  color: #3bb9ff;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}
.app__link:hover {
  color: #0067a1;
}
.app__warning {
  background-color: #888;
  color: #eee;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: .9em;
}
.checkbox-size-big
{
  height: 75px;
  width: 75px;
}
.checkbox-size-mid
{
  height: 50px;
  width: 50px;
}
.checkbox-size-small
{
  height: 25px;
  width: 25px;
}
